.Xauthority
.bash_history
.bash_profile
.bashrc
.cache/
.conda/
.condarc
.config/
.gsutil/
.ipython/
.jupyter/
.kaggle/
.keras/
.lesshst
.local/
.mamba/
.nv/
.python_history
.ssh/
.triton/
.viminfo

github_key
github_key.pub
.ipynb_checkpoints

git-lfs-3.7.1/
git-lfs-linux-amd64-v3.7.1.tar.gz
big_vision_repo
miniconda3/
mycerts/
openssl/
proxy.sh
research_proxy.sh
research_proxyold.sh
scratch
src/
yml_files/
